DB_ENGINE=django.db.backends.postgresql (Указываем что используется postgresql)
DB_NAME=(название для БД)
POSTGRES_USER=(пользователь БД)
POSTGRES_PASSWORD=(пароль пользователя БД)
DB_HOST=(адрес приложения(имя))
DB_PORT=(порт)
SECRET_KEY=(секретный ключ джанги)